USE [master]
GO
/****** Object:  Database [BookStores]    Script Date: 23/02/2023 9:14:41 SA ******/
CREATE DATABASE [BookStores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStores.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookStores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStores_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStores]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 23/02/2023 9:14:41 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Books](
	[bookID] [int] NOT NULL,
	[bookName] [varchar](50) NULL,
	[bookPrice] [float] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23/02/2023 9:14:41 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[empID] [varchar](10) NOT NULL,
	[empPassword] [varchar](15) NULL,
	[empRole] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[empID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Books] ([bookID], [bookName], [bookPrice]) VALUES (1, N'C#', 21)
INSERT [dbo].[Books] ([bookID], [bookName], [bookPrice]) VALUES (2, N'Java', 21)
INSERT [dbo].[Books] ([bookID], [bookName], [bookPrice]) VALUES (3, N'C++', 16)
INSERT [dbo].[Employee] ([empID], [empPassword], [empRole]) VALUES (N'E01', N'123', 1)
INSERT [dbo].[Employee] ([empID], [empPassword], [empRole]) VALUES (N'E02', N'12345', 0)
INSERT [dbo].[Employee] ([empID], [empPassword], [empRole]) VALUES (N'E03', N'123', 1)
USE [master]
GO
